<div class="container">
  <div class="row">
    <div class="col-md-6 user-container">
      <h2 style="margin: auto"> Quote Details</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Text</th>
          <th>WithOut3N5</th>
          <th>NounsCount</th>
          <th>VerbsCount</th>
          <th>PeriodsCount</th>
          <th>YouCount</th>
          <th>ThatCount</th>
          <th>ThingCount</th>
          <th>TheyCount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{quote.text}}</td>
          <td>{{quote.withOut3N5}}</td>
          <td>{{quote.nounsCount}}</td>
          <td>{{quote.verbsCount}}</td>
          <td>{{quote.periodsCount}}</td>
          <td>{{quote.youCount}}</td>
          <td>{{quote.thatCount}}</td>
          <td>{{quote.thingCount}}</td>
          <td>{{quote.theyCount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
